@font-face {
  font-family: 'mario';
  src: url("../fonts/SuperMario256.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'mario';
}

@keyframes fade-up {
  from {
    transform: translate(0px, -200px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes move-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes bullet-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes bullet2-animation {
  0% {
    right: 0;
    top: 65%;
  }
  30% {
    top: 50%;
  }
  50% {
    top: 65%;
  }
  70% {
    top: 70%;
  }
  100% {
    right: 100%;
    top: 40%;
  }
}

@keyframes clouds-animation {
  from {
    right: -400px;
  }
  to {
    right: 100%;
  }
}

@keyframes pulo-animation {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 200px;
  }
  50% {
    bottom: 200px;
  }
  70% {
    bottom: 200px;
  }
  100% {
    bottom: 0;
  }
}

.cenario {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-bottom: 14px solid #00ae33;
  background: linear-gradient(#0097d3, white);
}

.cenario.start .clouds {
  animation: clouds-animation 20.5s infinite linear;
}

.cenario.start .clouds2 {
  animation: clouds-animation 20.5s infinite linear 10.2s;
}

.cenario.start .pipe {
  animation: move-animation 1.5s infinite linear;
}

.cenario.start .pipe2 {
  animation: move-animation 1.5s infinite linear 2.3s;
}

.cenario.start .bullet {
  animation: bullet-animation 3.5s infinite linear .7s;
}

.cenario.start .bullet2 {
  animation: bullet2-animation 3s infinite linear .7s;
}

.cenario.start .moeda {
  animation: move-animation 3s infinite linear;
}

.cenario.start .moeda2 {
  animation: move-animation 3s infinite linear .5s;
}

.cenario.start .moeda3 {
  animation: move-animation 3s infinite linear 1s;
}

.cenario .header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cenario .header .wrapper-topo {
  width: 650px;
  padding: 20px;
  margin-top: 40px;
  background-color: #fff;
  border: solid 4px #0097d3;
  box-shadow: 3px 3px #ffc900, 1px 0 0.4em #060606;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  position: relative;
}

.cenario .header .wrapper-topo .label-topo {
  display: block;
  text-align: center;
}

.cenario .header .wrapper-topo .label-topo .titulo {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #0097d3;
}

.cenario .header .wrapper-topo .label-topo .txt {
  color: #00ae33;
}

.cenario .header .wrapper-topo img {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  margin: auto;
}

.cenario .header .wrapper-topo .controle {
  display: flex;
  gap: 60px;
}

.cenario .clouds {
  width: 400px;
  position: absolute;
  top: 150px;
}

.cenario .clouds2 {
  width: 400px;
  position: absolute;
  top: 250px;
  right: -400px;
}

.cenario .pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
}

.cenario .pipe2 {
  position: absolute;
  bottom: 0;
  right: -90px;
  width: 90px;
}

.cenario .bullet {
  position: absolute;
  top: 50%;
  width: 90px;
  right: -90px;
}

.cenario .bullet2 {
  position: absolute;
  top: 50%;
  width: 90px;
  right: -90px;
}

.cenario .mario {
  position: absolute;
  bottom: 0px;
  width: 150px;
}

.cenario .moeda {
  position: absolute;
  bottom: 250px;
  right: -80px;
}

.cenario .game-over {
  width: 80px;
  left: 50px;
}

.cenario .pulo {
  animation: pulo-animation .5s ease-out;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.desabilitar {
  display: none;
}

.modal .modal-start {
  width: 650px;
  height: 400px;
  background-image: url("../images/background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 20px #ffc900;
  padding: 50px;
  border-radius: 30px;
  display: none;
}

.modal .modal-start.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-up 1s forwards;
}

.modal .modal-start .titulo {
  font-size: 36px;
  text-align: center;
  margin: 20px 0px;
  color: #00ae33;
  -webkit-text-stroke: 3px black;
}

.modal .modal-start .input-jogador {
  width: 300px;
  height: 50px;
  border: solid 3px #0097d3;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  outline: none;
}

.modal .modal-game-over {
  width: 650px;
  height: 500px;
  background-image: linear-gradient(#0097d3, #e7e7e7);
  box-shadow: 2px 2px 20px #fb0202;
  padding: 50px;
  border-radius: 30px;
  display: none;
}

.modal .modal-game-over.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-up 1s forwards;
}

.modal .modal-game-over .titulo {
  font-size: 36px;
  text-align: center;
  margin: 20px 0px;
  color: #ff201c;
  -webkit-text-stroke: 3px black;
}

.modal .modal-game-over .img-game-over {
  width: 300px;
}

.modal .modal-game-over .wrapper-btn {
  display: flex;
  gap: 30px;
}

.modal .modal-ranking {
  width: 650px;
  min-height: 500px;
  max-height: 85%;
  background-image: linear-gradient(#0097d3, #e2e2e2);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 20px #0097d3;
  padding: 50px;
  border-radius: 30px;
  display: none;
}

.modal .modal-ranking.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-up 1s forwards;
}

.modal .modal-ranking .titulo {
  font-size: 36px;
  text-align: center;
  margin: 20px 0px;
  color: #0da831;
  -webkit-text-stroke: 3px black;
}

.modal .modal-ranking .tabela-ranking {
  text-align: center;
  color: white;
  -webkit-text-stroke: 2px black;
  border-radius: 10px;
}

.modal .modal-ranking .tabela-ranking td {
  padding: 5px;
  border-radius: 5px;
}

.modal .img-mario {
  position: absolute;
  right: -100px;
  bottom: 0;
  width: 150px;
}

.modal .img-mario.mario1, .modal .img-mario.mario3 {
  left: -100px;
}

.modal .btn-modal {
  background: none;
  border: none;
  width: 300px;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  background-color: #bd827c;
  text-transform: uppercase;
  padding: 15px;
  margin: 30px 0px;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  transition: 1s;
}

.modal .btn-red-tr:not(:disabled) {
  cursor: pointer;
  background-color: #ff201c;
}

.modal .btn-red-tr:not(:disabled)::before {
  position: absolute;
  content: "";
  border-top: 5px solid #ff3936;
  border-left: 5px solid #ff3936;
  border-right: 5px solid #ff0703;
  border-bottom: 5px solid #ff0703;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 0.5s;
}

.modal .btn-red-tr:not(:disabled):hover {
  box-shadow: 7px 7px #b50300, -7px -7px #ff8482;
}

.modal .btn-red-tr:not(:disabled):hover::before {
  border: 0px;
}

.modal .btn-reiniciar, .modal .btn-ranking {
  width: 200px;
  height: 50px;
  font-size: 25px;
}

.modal .azul {
  color: #0097d3;
}

.modal .amarelo {
  color: #ffc900;
}

.modal .vermelho {
  color: #ff201c;
}

.modal .verde {
  color: #00ae33;
}
