// Importações
@font-face {
    font-family: 'mario';
    src: url('../fonts/SuperMario256.ttf');
}

// Variáveis
$corAzul: #0097d3;
$corAmarela: #ffc900;
$corVermelha: #ff201c;
$corVerde: #00ae33;

// Definições Gerais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mario';
    text-decoration: none;
}

// Animações
@keyframes fade-up {
    from {
        transform: translate(0px, -200px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes move-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes bullet-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes bullet2-animation {
    0% {
        right: 0;
        bottom: 10px;
    }

    20% {
        bottom: 50px;
    }

    30% {
        bottom: 10px;
    }

    50% {
        bottom: 120px;
    }

    100% {
        right: 100%;
        bottom: 550px;

    }
}

@keyframes clouds-animation {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}

@keyframes pulo-animation {
    0% {
        bottom: 0;
    }

    30% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    90% {
        bottom: 200px;
    }

    100% {
        bottom: 0;

    }
}

@keyframes voar-animation {
    0% {
        bottom: 0;
        left: 0;
    }

    15% {
        bottom: 20%;
        left: 50px;
    }

    30% {
        bottom: 60%;
        left: 150px;
    }

    50% {
        bottom: 60%;
        left: 250px;
    }

    70% {
        bottom: 60%;
        left: 250px;
    }

    80% {
        bottom: 20%;
        left: 50px;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@keyframes pulsar-animate {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

// Estilo do Projeto
.cenario {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 14px solid $corVerde;
    background: linear-gradient($corAzul, white);

    &.start {
        .clouds {
            animation: clouds-animation 20.5s infinite linear;
        }

        .clouds2 {
            animation: clouds-animation 20.5s infinite linear 10.2s;
        }

        .moeda {
            animation: move-animation 3s infinite linear;
        }

        .moeda2 {
            animation: move-animation 3s infinite linear .5s;
        }

        .moeda3 {
            animation: move-animation 3s infinite linear 1s;
        }

        .estrela1 {
            animation: move-animation 2.5s infinite linear;
        }

        .estrela2 {
            animation: move-animation 3s infinite linear .5s;
        }
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: center;

        .wrapper-topo {
            width: 750px;
            padding: 20px;
            margin-top: 40px;
            background-color: #fff;
            border: solid 4px $corAzul;
            box-shadow: 3px 3px $corAmarela, 1px 0 0.4em rgb(6, 6, 6);
            opacity: 80%;
            // border-radius: 10px;
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            position: relative;

            .label-topo {
                display: block;
                text-align: center;

                .titulo {
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    color: $corAzul;
                }
            }

            img {
                position: absolute;
                // width: 200px;
                left: 0;
                right: 0;
                top: -40px;
                margin: auto;
            }

            .controle {
                display: flex;
                gap: 10px;
            }
        }
    }

    .clouds {
        width: 400px;
        position: absolute;
        top: 150px;
        right: -400px;
    }

    .clouds2 {
        width: 400px;
        position: absolute;
        top: 250px;
        right: -400px;
    }

    .pipe {
        position: absolute;
        bottom: 0;
        right: -90px;
        width: 80px;
    }

    .bullet {
        position: absolute;
        bottom: 85px;
        width: 90px;
        right: -90px;
        // left: 70px;
    }

    .bullet2 {
        position: absolute;
        bottom: 50%;
        width: 90px;
        right: -90px;
    }

    .mario {
        position: absolute;
        bottom: 0px;
        // bottom: 200px;
        width: 150px;
        // transition: .5s;
    }

    .mario-agachado {
        width: 70px;
        position: absolute;
        left: 70px;
        bottom: 0px;
        // transition: .5s;
    }

    .moeda {
        position: absolute;
        bottom: 250px;
        right: -80px;
        // left: 100px;
    }

    .estrela {
        position: absolute;
        width: 60px;
        bottom: 60%;
        // left: 200px;
        right: -60px;
    }

    .game-over {
        width: 80px;
        left: 50px;
    }

    .pulo {
        animation: pulo-animation .5s ease-out;
    }

    .voar {
        // bottom: 60%;
        animation: voar-animation 1.5s ease-in-out;
    }

    .sleep {
        // position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        

        &.active {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            animation: fade-up .5s forwards;
            
        }

        .contagem {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: white;
            border-radius: 50%;
            border: solid 10px $corVermelha;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, .80);
            font-size: 55px;
            animation: pulsar-animate 1s infinite;
        }

        .regra-jogo {
            margin-top: 50px;
            width: 700px;
            background-color: white;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, .80);
            padding: 10px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;

            img {
                display: block;
                width: 100px;
            }

            .bloco-regras {
                display: grid;
                grid-template-rows: auto;
                gap: 10px;
                width: 100%;
                justify-content: center;
                justify-items: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                border-radius: 5px;
                background-color: rgb(243, 243, 243);

                // border: solid 1px red;
            }
        }

    }
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .80);
    z-index: 100;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.desabilitar {
        display: none;
    }

    .modal-start {
        width: 650px;
        // height: 500px;
        // background-color: #fff;
        background-image: url('../images/background.jpg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 20px $corAmarela;
        padding: 50px;
        border-radius: 30px;
        display: none;

        &.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: fade-up 1s forwards;
        }

        .titulo {
            font-size: 36px;
            text-align: center;
            margin: 20px 0px;
            color: $corVerde;
            -webkit-text-stroke: 3px black;
        }

        .regra {
            text-align: center;
            font-size: 14px;
            background-color: rgba(255, 255, 255, .80);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .80);
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .input-jogador {
            width: 300px;
            height: 50px;
            border: solid 3px $corAzul;
            border-radius: 10px;
            padding: 15px;
            font-size: 18px;
            outline: none;
        }
    }

    .modal-game-over {
        width: 650px;
        height: 500px;
        background-image: linear-gradient($corAzul, rgb(231, 231, 231));
        box-shadow: 2px 2px 20px rgb(251, 2, 2);
        padding: 50px;
        border-radius: 30px;
        display: none;

        &.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: fade-up 1s forwards;
        }

        .titulo {
            font-size: 36px;
            text-align: center;
            margin: 20px 0px;
            color: $corVermelha;
            -webkit-text-stroke: 3px black;
        }

        .img-game-over {
            width: 300px;
        }

        .wrapper-btn {
            display: flex;
            gap: 30px;
        }

    }

    .modal-ranking {
        width: 650px;
        min-height: 500px;
        max-height: 85%;
        background-image: linear-gradient($corAzul, rgb(226, 226, 226));
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 20px $corAzul;
        padding: 50px;
        border-radius: 30px;
        display: none;

        &.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: fade-up 1s forwards;
        }

        .titulo {
            font-size: 36px;
            text-align: center;
            margin: 20px 0px;
            color: rgb(13, 168, 49);
            -webkit-text-stroke: 3px black;
        }

        .wrapper-tabela {
            max-height: 500px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: $corAzul;
                border-left: 2px solid rgba(255, 255, 255, 0.3);
                border-right: 2px solid rgba(255, 255, 255, 0.3);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
            }
        }

        .tabela-ranking {
            text-align: center;
            color: white;
            -webkit-text-stroke: 2px black;
            border-radius: 10px;

            & td {
                padding: 5px;
                border-radius: 5px;
            }
        }

        .regra-pontuacao {
            font-family: sans-serif;
            font-style: italic;
            color: white;
            margin-top: 20px;
            font-size: 14px;

        }
    }

    .img-mario {
        position: absolute;
        right: -100px;
        bottom: 0;
        width: 150px;

        &.mario1,
        &.mario3 {
            left: -100px;
        }
    }

    .btn-modal {
        background: none;
        border: none;
        width: 300px;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: flex-end;
        background-color: #bd827c;
        text-transform: uppercase;
        padding: 15px;
        margin: 30px 0px;

        font-size: 34px;
        font-weight: 600;

        color: #fff;

        transition: 1s;
    }

    .btn-red-tr:not(:disabled) {
        cursor: pointer;
        background-color: $corVermelha;

        &::before {
            position: absolute;
            content: "";
            border-top: 5px solid lighten($corVermelha, 5%);
            border-left: 5px solid lighten($corVermelha, 5%);
            border-right: 5px solid darken($corVermelha, 5%);
            border-bottom: 5px solid darken($corVermelha, 5%);

            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            transition: 0.5s;
        }

        &:hover {
            box-shadow: 7px 7px darken($corVermelha, 20%), -7px -7px lighten($corVermelha, 20%);

            &::before {
                border: 0px;
            }
        }
    }

    .btn-reiniciar,
    .btn-ranking {
        width: 200px;
        height: 50px;
        font-size: 25px;
    }

}

.azul {
    color: $corAzul;
}

.amarelo {
    color: $corAmarela;
}

.vermelho {
    color: $corVermelha;
}

.verde {
    color: $corVerde;
}

.credito {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.599);
    border-radius: 8px;
    font-size: 10px;
    color: #ccc;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    margin-top: 20px;

    .link {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-family: sans-serif;
        color: rgb(255, 255, 255);
        font-style: normal;
    }

    i {
        margin: 0 5px;
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
}